body {
	background: purple;
}
#quote-box {
	width: 50%;
	height: 30%;
	background-color: white;

	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;

	margin:auto;
}
#quote-text {
	margin-top:27px;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	text-align: center;
	color:black;
}
#new-quote {
	font-family: 'Ubuntu', sans-serif;
	}
#quote-text p {
	font-size:15px;
}
.fa-twitter{
	float:left;
}
.fa-tumblr{
	float:left;
}