body {
  background-image: url("https://i.redditmedia.com/lGBeSjIYK8vDFYMz2ZstYhir00d5hF5hMjziP8u8XBQ.jpg?w=1024&s=2c4e3f8374803fa57fdb39e8da5508d1");
  background-repeat: no-repeat;
  background-size: cover;
}
.quote-box {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    align-content: center;
}
.quote-text {
  text-align: center;
}
#quote {
  font-family: "Boogaloo" , cursive;
}
#author{
  font-family: "Great Vibes" , cursive;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.buttons {
  margin-right: 10px;
  margin-left: 10px;
}
.jumbotron {
  width: 50vw;
}
.disabled {
  opacity: 0.5;
}
